@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    background-color: hsl(233, 47%, 7%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.header-container {
    background-image: url('./images/image-header-mobile.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-blend-mode: multiply;
    background-color: hsl(277, 64%, 61%);
    opacity: 0.6;
    filter: brightness(70%);
    width: 80vw;
    height: 220px;
    border-radius: 10px 10px 0 0;
}

.text-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
    width: 80vw;
    border-radius: 0 0 10px 10px;
}

.text-content h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.65rem;
    color: hsl(0, 0%, 100%);
    margin: 20px 20px 10px;
    padding: 10px;
}

#accent {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.65rem;
    color: hsl(0, 0%, 100%);
    margin: 0px;
    padding: 0px;
    display: inline-block;
    color: hsl(277, 64%, 61%);
}

.text-content p {
    font-family: 'Inter';
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0 20px;
    font-size: 1em;
    line-height: 1.75em;
}

.stats-container {
    margin: 15px 0;
}

.stats-container div {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.stats-container strong {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.45rem;
    color: hsl(0, 0%, 100%);
}

.stats-container span {
    font-family: 'Lexend Deca';
    font-size: 0.75em;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    margin: 5px;
    letter-spacing: 0.08em;
}